* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main {
    width: 100%;
    min-height: 641px;
    background: #000;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.main .nosotros {
    position: relative;
    width: 800px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    background: #0C0A0F;
}

.main .nosotros p {
    color: white;
    margin: 20px 0;
    font-size: 20px;
}

.main .nosotros h2 {
    color: white;
}

.main .nosotros p span:nth-child(1) {
    color: red;
}

.main .nosotros p span:nth-child(2) {
    color: yellow;
}

.main .nosotros p span:nth-child(3) {
    color: green;
}

.main .nosotros p span:nth-child(4) {
    color: blue;
}

.main .video {
    position: relative;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    
}

.main .video iframe{
    align-items: center;
}