@font-face {
    font-family: Comfortaa-Bold;
    src: url(../fuentes/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(../fuentes/Comfortaa-Light.ttf);
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../fuentes/Comfortaa-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: #181818;
}

main {
    color: #fff;
    line-height: 1.6;
    padding: 0 1.5em;
}

.main {
    min-height: calc(100vh - 230px);
    padding-top: 80px;
}

.content {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.title {
    text-align: center;
    font-size: 3em;
    font-family: Comfortaa-Regular;
    text-shadow: 0 0 20px #00bcd4;
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background: #0E0E0E;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form select,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: #545454;
    font-family: Comfortaa-Light;
    color: #fff;
}

.contact-form label {
    font-family: Comfortaa-Light;
}

.contact-form form button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    font-family: Comfortaa-Light;
    background: #111;
    color: white;
    height: 60px;
    border-top: 2px solid #3ACFD5;
    border-bottom: 2px solid #3a4ed5;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 2px 100%;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    background-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    transition: 1.5s;
}

.contact-form form button:hover {
    box-shadow: 0 2px 5px 0 #3acfd5 inset, 0 2px 5px 0 #3a4ed5, 0 5px 50px 0 #3a4ed5 inset, 0 5px 50px 0 #3a4ed5;
}

.contact-wrapper {
    position: relative;
    margin-top: 20px;
}

.contact-wrapper:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.contact-wrapper:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.contact-wrapper:before,
.contact-wrapper:after {
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}


/*End of Glowing effect*/

@media (min-width: 700px) {
    main {
        padding: 0 4em;
    }
    .contact-wrapper>* {
        padding: 2em;
    }
    .contact-form form select,
    .contact-form form input,
    .contact-form form textarea {
        width: 50%;
        float: right;
    }
    .contact-form form button {
        margin-top: 20px;
    }
}