@font-face {
    font-family: Comfortaa-Bold;
    src: url(../fuentes/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Comfortaa-Light;
    src: url(../fuentes/Comfortaa-Light.ttf);
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../fuentes/Comfortaa-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0C0A0F;
}

.main {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0C0A0F;
}

.main:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.main:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.main:before,
.main:after {
    background: linear-gradient(235deg, #ff0000, #0C0A0F, #ffc107);
}

.contenedor {
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.titulo {
    top: 15%;
    width: 100%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
    font-family: Comfortaa-Bold;
}

.titulo:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.titulo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

.form ul {
    list-style: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.form li {
    padding: 12px;
    position: relative;
}

.form label {
    width: 350px;
    height: 60px;
    margin-top: 3px;
    font-size: 25px;
    float: left;
    padding: 10px;
    font-family: Comfortaa-Regular;
}

.form select {
    width: 286px;
    height: 40px;
    margin-top: 25px;
    padding: 8px;
    outline: 0;
    border: 0 !important;
    border-radius: 8px;
    font-family: Comfortaa-Regular;
}

.form input {
    width: 270px;
    height: 40px;
    margin-top: 15px;
    padding: 5px 8px;
    outline: 0;
    border: 0 !important;
    border-radius: 8px;
    font-family: Comfortaa-Regular;
}

.form textarea {
    margin-top: 15px;
    padding: 8px;
    width: 270px;
    outline: 0;
    border: 0 !important;
    border-radius: 8px;
    font-family: Comfortaa-Regular;
}

.button {
    float: right;
    padding-top: 15px;
    padding-right: 45px;
    border: none;
    color: #46fd13;
    font-size: 50px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: Comfortaa-Regular;
    text-shadow: 0 0 10px #fff;
}