@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('./shared/pushbar.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


/*---------CONTENIDO CENTRAL---------*/

.main {
    width: 100%;
    min-height: 600px;
    padding: 70px 20px;
    background: #000;
    display: flex;
}

.main .sidebar {
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 20px rgba(228, 34, 218, 0.2);
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: scroll;
}

.main .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.main .sidebar::-webkit-scrollbar-thumb {
    background: #8615d14d;
    box-shadow: 0px 0px 20px rgba(134, 21, 209, 0.302);
    border-radius: 5px;
}

.main .sidebar .categorias {
    display: flex;
    flex-direction: column;
}

.main .sidebar .categorias .cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .sidebar h2 {
    text-align: center;
    color: white;
}

.main .sidebar a {
    margin: 20px 0;
    color: white;
}

.main .principal {
    width: 100%;
    margin: auto;
}

.main .principal .titulo {
    width: 100%;
    margin: 20px 0;
}

.main .principal .titulo img {
    width: 100%;
    transform: scale(0.8);
}

.main .principal .contenido {
    width: 80%;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main .principal .contenido .card {
    width: 200px;
    height: 150px;
    margin: 5px 10px;
}

.main .principal .contenido .card__image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.main .principal .contenido .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: 0.3s;
}

.main .principal .contenido .card__image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.0);
    transition: 0.3s;
}

.main .principal .contenido .card__image:hover img {
    transform: scale(1.1) rotate(1deg);
    transition: 0.3;
}

.main .principal .contenido .card__image:hover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    transition: .3s;
}

@media(max-width: 950px) {
    .main {
        flex-wrap: wrap;
        padding: 30px 20px;
    }
    .main .sidebar {
        width: 100%;
        height: 120px;
        display: flex;
        padding: 10px 20px;
    }
    .main .sidebar .categorias {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .main .sidebar .categorias .cat {
        display: flex;
        width: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .main .sidebar .categorias .cat a {
        width: 80px;
        margin: 10px;
    }
    .main .principal .contenido {
        width: 100%;
    }
    .main .principal .contenido .card {
        width: 150px;
        height: 120px;
    }
}

@media(max-width: 400px) {
    .main .principal .contenido .card {
        width: 120px;
        height: 80px;
        margin: 5px;
    }
}